extends layout 
    
block content

    h1 #{title}
    ul(class="list-group")
        each  article, i in articles  
            //- li= articles[i].title
            li(class="list-group-item")
                a(href="/article/" + article._id)= article.title 
        
        //- each art, i in articles 
            //- li #{art.title}

        //- #{} is for evaluation of js into pug just like jsx maybe ..
        //- this has nothing to do with extracting properties from app.js as you thought earlier